#cooperation {
    --themeColor: #1D71B9;
    background-color: #FAF9FF;
    --backgroundDark: #F0F4FD;
    --backgroundAlt: #E7E7E7;
    --colorTitle: #383838;
    --colorP: #787879;


    //_____general
    %squareDot {
        content: '';
        background: url('/Content/images/img/dots.png') no-repeat;
        display: block;
        position: absolute;
        width: 2em;
        height: 2em;
        font-size: 7em;
        background-size: cover;
        z-index: -1;

    }

    a.button {
        background-color: var(--themeColor);
        color: white;
        display: inline-block;
        width: max-content;
        padding: .3em 0.8em;
        font-size: 0.9em;
        border-radius: 0.4em;
    }

    %innerSpan {
        span {
            color: var(--themeColor);
        }
    }

    .subtitle {
        font-size: 1.5em;
        font-weight: 800;
        @extend %innerSpan;
    }

    .title {
        color: var(--colorTitle);
        font-size: 2.2em;
        line-height: 1.8em;
        font-weight: 800;
        @extend %innerSpan;
    }

    .imgCover {
        --radius: 0.9em;
        --bigRadius: 11.7em;
        font-size: 1.6em;
        background-color: var(--themeColor);
        position: relative;

        &.one {
            border-radius: var(--bigRadius) var(--radius) var(--radius) var(--radius);
            margin: 1.2em;
            margin-bottom: 2.5em;

            img {
                width: 32em;
                height: 32em;
                background-size: cover;
                border-radius: var(--radius) var(--radius) var(--bigRadius) var(--radius);
                transform: translate(1em, 1em);
            }

            &::before {
                content: "";
                border: 0.1em solid var(--themeColor);
                border-radius: var(--radius) var(--bigRadius) var(--radius) var(--radius);
                transform: translate(-1em, -1em);
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
            }

            &::after {
                @extend %squareDot;
                right: 69%;
                bottom: -16%;
            }

        }

        &.two {
            border-radius: var(--radius) var(--radius) var(--bigRadius) var(--radius);

            img {
                width: 33em;
                border-radius: var(--bigRadius) var(--radius) var(--radius) var(--radius);
                transform: translate(-0.6em, -0.6em);
            }

            &::before {
                content: "";
                display: block;
                width: 5em;
                height: 5em;
                border: 1px solid var(--themeColor);
                border-radius: 50%;
                position: absolute;
                right: 80.5%;
                font-size: 2.7em;
                opacity: 0.2;
                top: -5%;
            }
        }

        &.left,
        &.right {
            border-radius: var(--radius);

            img {
                width: 30em;
                border-radius: var(--radius) var(--radius) var(--bigRadius) var(--radius);
                transform: translate(.5em, -.5em);
            }

            &.right img {
                transform: translate(-.5em, -.5em);
                border-radius: var(--radius) var(--radius) var(--radius) var(--bigRadius);
            }
        }
    }

    //_____structure
    >section {
        display: flex;
        gap: 5em;
        padding: 5em 5%;
        position: relative;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.6em;
            font-size: 1.6em;

            p {
                color: var(--colorP);
                font-weight: 500;
            }

            ul {
                color: var(--colorTitle);
                font-weight: 500;
                line-height: 1.8em;

                li {
                    list-style: disc inside;
                }
            }
        }

        &:first-child {
            .content {
                &::before {
                    content: "";
                    display: block;
                    background-color: var(--backgroundDark);
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    z-index: -1;
                    font-size: 16em;
                    right: -0.1em;
                }

                &::after {
                    @extend %squareDot;
                    right: 45%;
                    top: 13%;
                }
            }
        }

        &.alt {
            background-color: var(--backgroundAlt);
            flex-direction: row-reverse;
            width: 100%;
        }
    }

}